firmware/system_ext/priv-app/Settings/Settings.apk filter=lfs diff=lfs merge=lfs -text
firmware/product/data-app/MiMediaEditor/MiMediaEditor.apk filter=lfs diff=lfs merge=lfs -text
firmware/product/app/Maps/Maps.apk filter=lfs diff=lfs merge=lfs -text
firmware/product/app/YouTube/YouTube.apk filter=lfs diff=lfs merge=lfs -text
firmware/product/app/Gmail2/Gmail2.apk filter=lfs diff=lfs merge=lfs -text
firmware/product/app/Photos/Photos.apk filter=lfs diff=lfs merge=lfs -text
firmware/product/app/TrichromeLibrary64/TrichromeLibrary64.apk filter=lfs diff=lfs merge=lfs -text
firmware/product/app/Meet/Meet.apk filter=lfs diff=lfs merge=lfs -text
firmware/product/priv-app/VelvetCtS/VelvetCtS.apk filter=lfs diff=lfs merge=lfs -text
firmware/product/priv-app/GmsCore/GmsCore.apk filter=lfs diff=lfs merge=lfs -text
firmware/product/priv-app/MiuiCamera/MiuiCamera.apk filter=lfs diff=lfs merge=lfs -text
firmware/product/priv-app/MIUISecurityCenterGlobal/MIUISecurityCenterGlobal.apk filter=lfs diff=lfs merge=lfs -text
firmware/product/priv-app/MIUIGalleryGlobal/MIUIGalleryGlobal.apk filter=lfs diff=lfs merge=lfs -text
firmware/product/priv-app/MIUIAICR/MIUIAICR.apk filter=lfs diff=lfs merge=lfs -text
firmware/product/priv-app/MIUIMusicGlobal/MIUIMusicGlobal.apk filter=lfs diff=lfs merge=lfs -text
firmware/mi_ext/product/data-app/SmartHome/SmartHome.apk filter=lfs diff=lfs merge=lfs -text
firmware/mi_ext/product/priv-app/Messages_arm64_hdpi/Messages_arm64_hdpi.apk filter=lfs diff=lfs merge=lfs -text
firmware/rescue.img filter=lfs diff=lfs merge=lfs -text
